@gf {
  gutter: 1.5rem;
}

.row {
  gf: row;
}

.blob {
  gf: blob;
}

.blob-1 {
  gf: blob 1
}

.blob-1-8 {
  gf: blob 1/8;
}

.blob-1-3 {
  gf: blob 1/3;
}

@gf {
  gutter: 10px;
  display: float;
}

.row-float {
  gf: row;
}

.blob-2-5 {
  gf: blob 2/5;
}

.blob-3-5 {
  gf: blob 3/5;
}

.blob-4-7 {
  gf: blob 4/7;
}
