/*
      postcss-grid-fluid
-------------------------------

https://github.com/francoisromain/postcss-grid-fluid
*/

.container {
  gs: container;
}

@gf {
  gutter: 1.5rem;
}

.row {
  gf: row;
}

.blob-1-2 {
  gf: blob 1/2;
}
.blob-1-3 {
  gf: blob 1/3;
}
.blob-2-3 {
  gf: blob 2/3;
}
.blob-1-4 {
  gf: blob 1/4;
}
.blob-3-4 {
  gf: blob 3/4;
}
.blob-2-5 {
  gf: blob 2/5;
}
.blob-3-5 {
  gf: blob 3/5;
}
.blob-1-6 {
  gf: blob 1/6;
}
.blob-4-6 {
  gf: blob 4/6;
}
.blob-1-7 {
  gf: blob 1/7;
}
.blob-2-7 {
  gf: blob 2/7;
}
.blob-4-7 {
  gf: blob 4/7;
}
.blob-1-8 {
  gf: blob 1/8;
}
.blob-2-8 {
  gf: blob 2/8;
}
.blob-3-8 {
  gf: blob 3/8;
}
.blob-2-9 {
  gf: blob 2/9;
}
.blob-5-9 {
  gf: blob 5/9;
}
.blob-1-18 {
  gf: blob 1/18;
}